@using Dicho_online.Models
@model Dicho_online.Models.HomeViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    #wrapper {
        margin-left: 150px;
        margin-top: 50px;
        margin-bottom: 29px;
        text-align: center;
    }

    #details {
        width: 75%;
        height: auto;
    }

        #details div {
            display: inline-block;
        }

    .image {
        float: left;
    }

    .detail {
        text-align: left;
    }

    h3 {
        color: green;
    }

    .btn-amount {
        border-radius: 25%;
    }

    .btn:hover {
    }

    #amount {
        width: 50px;
    }
</style>

<div id="wrapper">
    <div id="details">
        @foreach (var item in Model.product_detail)
        {
            <div class="image">
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="400px" height="300px"/>
            </div>
            <div class="detail">
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)<br /><br />
                <h2>@Html.DisplayFor(modelItem => item.ProductName)</h2>
                <h3><i class="fas fa-dollar-sign"></i> @Html.DisplayFor(modelItem => item.UnitPrice)</h3>
                <hr />
                <b>Amount: </b>
                <button type="button" id="minus" class="btn-amount"><i class="fas fa-minus"></i></button>
                <div id="amount" name="amount">
                    @{
                        int amount = (int)item.QuantityPerUnit;
                    }
                    @Html.Raw(amount) @Html.DisplayFor(modelItem => item.Measurement.name)
                </div>
                <button type="button" id="plus" class="btn-amount"><i class="fas fa-plus"></i></button>
                <br /><br />
                <b>Total: </b>(button and this still under construction)
                <hr />
                <button type="submit" onclick="location.href='@Url.Action("AddToCart","Cart",new { id = @item.ProductID})'">Add to cart</button>---test as 1 unit
            </div>
         }
    </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">