@using Dicho_online.Models
@using System.Globalization
@model Dicho_online.Models.HomeViewModel
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    decimal initPrice = 0;
    string id = "";
    int? quantityPerUnit = 0;
    string measure = "";
}
@functions{

}

<style>
    #wrapper {
        margin-left: 150px;
        margin-top: 50px;
        margin-bottom: 29px;
        text-align: center;
    }

    #details {
        width: 75%;
        height: auto;
    }

        #details div {
            display: inline-block;
        }

    .image {
        float: left;
    }

    .detail {
        text-align: left;
    }

    h3 {
        color: green;
    }

    #qPU {
        color: black !important;
        opacity: 0.5;
        font-size: 23px;
    }

    .btn-amount {
        border-radius: 25%;
    }

    .btn:hover {
    }

    #amount {
        width: 50px;
    }
</style>

<div id="wrapper">
    <div id="details">
        @foreach (var item in Model.product_detail)
        {
            <div class="image">
                @{ id = item.ProductID; quantityPerUnit = item.SellingUnit;}
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" width="400px" height="300px" />
            </div>
            <div class="detail">
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)<br /><br />
                <h2>@Html.DisplayFor(modelItem => item.ProductName)</h2>
                <h3><i class="fas fa-dollar-sign"></i> @Html.DisplayFor(modelItem => item.UnitPrice) <span id="qPU">(@Html.DisplayFor(modelItem => item.QuantityPerUnit) @Html.DisplayFor(modelItem => item.Measurement.name))</span></h3>
                <hr />
                <b>Amount: </b>
                <button type="button" id="minus" class="btn-amount" onclick="minus();"><i class="fas fa-minus"></i></button>
                <div id="unit-measure" name="amount">
                    <span id="amount"></span>
                    <span id="measure"></span>
                    @{ 
                        if (item.Container1.name == "none")
                        {
                            measure = item.Measurement.name;
                        }
                        else
                        {
                            measure = item.Container1.name;
                        }
                    }
                </div>
                <button type="button" id="plus" class="btn-amount" onclick="add();"><i class="fas fa-plus"></i></button>
                <br /><br />
                <b>Total: <span id="total"> @{initPrice = item.UnitPrice.Value;}</span></b>
                <hr />
                <button id="btnSubmit" type="submit">Add to cart</button>
                <button id="btnRemove" type="button" style="color:red;border:2px solid red;"><i class="fas fa-times"></i>&ensp;Remove from cart</button>
            </div>
                    }
    </div>
</div>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

<script>
    $(document).ready(function () {
        var id = '@(id)';
        var initPstring = '@(initPrice)';
        initPstring = initPstring.replace(/,/g, '.');
        var initP = parseFloat(initPstring);
        var total = initP;
        var amountStep = @(quantityPerUnit);
        var amount = 1;
        var measure = '@(measure)';
        alert(id+''+initP+''+amount+''+measure);
        $("#measure").html(measure);
        $("#btnRemove").css("visibility","hidden");
        $.ajax({
            url: '/Cart/quantityOfAnItem',
            type: 'POST',
            dataType: 'json',
            data:{id: id},
            success: function(data){
                amount = data;
                total = amount * initP;
                $("#total").html('$ ' + total.toFixed(2));
                $("#amount").html(amount*amountStep);
                if(amount*amountStep <= amountStep){
                    $("#minus").css("visibility","hidden");
                    checkExist(id);
                }
                else{
                    $("#btnSubmit").html("Update cart");
                    $("#btnRemove").css("visibility","visible");
                }
            }
        });

        $("#btnSubmit").click(function(){
            $.ajax({
                url: '/Cart/AddToCart',
                type: 'POST',
                dataType: 'json',
                data: {id: id,quantity: amount},
                success: function(data){
                    $(".numofitem").html(data);
                    $("#btnRemove").css("visibility","visible");
                },
                error: function(data){

                }
            });
            $("#btnSubmit").html("Update cart");
        });

        $("#btnRemove").click(function(){
            $.ajax({
                url: '/Cart/RemoveFromCart',
                type: 'POST',
                dataType: 'json',
                data: {id: id},
                success: function(data){
                    $(".numofitem").html(data);
                    $("#btnRemove").css("visibility","hidden");
                    $("#btnSubmit").html("Add to cart");
                },
                error: function(data){

                }
            });
        });

        $("#plus").click(function() {
            amount++;
            if (amount > 1) {
                document.getElementById("minus").style.visibility = "visible";
            }
            document.getElementById("amount").innerHTML = amount*amountStep;
            total = initP * amount;
            document.getElementById("total").innerHTML = '$ ' + total.toFixed(2);
        });
        $("#minus").click(function() {
            amount--;
            if (amount == 1) {
                document.getElementById("minus").style.visibility = "hidden";
            }
            document.getElementById("amount").innerHTML = amount*amountStep;
            total = (initP * amount);
            document.getElementById("total").innerHTML = '$ ' + total.toFixed(2);
        });
    });

    function checkExist(id){
        $.ajax({
            url: '/Cart/checkExist',
            type: 'post',
            dataType: 'json',
            data:{id: id},
            success:function(data){
                if(data==true){
                    $("#btnSubmit").html("Update cart");
                    $("#btnRemove").css("visibility","visible");
                }
            }
        });
    }
</script>