@using Dicho_online.Models
@model Dicho_online.Models.HomeViewModel
@{ 
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ShowCart</h2>
@if (Model.product_detail != null)
{
<table class="table">
    <tr>
        <th>
            Name
        </th>        
        <th>
            Image
        </th>
        <th>
            Quantity
        </th>
        <th>
            Unit price
        </th>
        <th>
            Container
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.product_detail)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>           
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" ) width="150px" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityPerUnit)
                @Html.DisplayFor(modelItem => item.Measurement.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice)
                
            </td>            
            <td>
                @Html.DisplayFor(modelItem => item.Container1.name)
            </td>
        </tr>       
    }
    <tr>
        <td>
            <b>Total: @Html.Raw(@ViewBag.totalCash)</b>
        </td>
    </tr>
</table>
}
else
{
     @Html.Raw(@ViewBag.msg);
}