@model Dicho_online.Models.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.QuantityPerUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.QuantityPerUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SellingUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SellingUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OnOrder)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OnOrder)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discontinue)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discontinue)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thumbnail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thumbnail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Container1.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Container1.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Measurement.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Measurement.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supplier.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supplier.CompanyName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ProductID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
