@using PagedList;
@using PagedList.Mvc;
@model Dicho_online.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wrapper {
    }

    .item {
        display: inline-block;
        border: 1px solid black;
    }

    .pagination > li a {
        color: blue;
    }

    #ddl-sort {
        padding-bottom: 20px;
    }
</style>

<!---->
@using (Html.BeginForm("Sort", "Home", FormMethod.Get))
{
    <div>
        @Html.DropDownListFor(s => s.priceSort, new SelectList(Model.priceSort, "Sort"), new { onchange = "this.form.submit();" })
    </div>
}
<br />
<div>
    Cart count:     <br />
    Pay sum: 
</div>

<div class="wrapper">

    @foreach (var item in Model.productList)
    {
        <!--
        <a href="//Url.Action("Details", "ProductDetails", new { id = item.ProductID })">
            -->
        
            <div class="item">
                <a href="/ProductDetails/Details?id=@item.ProductID">
                    <div>
                        <img src="http://www.vegetables.co.nz/assets/Uploads/vegetables.jpg" width="200px" />
                        <div class="detail">
                            @Html.DisplayFor(modelItem => item.Supplier.CompanyName)<br />
                            @Html.DisplayFor(modelItem => item.ProductName)<br />
                            @Html.DisplayFor(modelItem => item.UnitPrice)
                        </div>
                    </div>
                </a>
                <a href="/ProductDetails/AddCart?id=@item.ProductID">
                    <div style="background-color: brown; color: white">
                        <p>Add Cart</p>
                    </div>
                </a>
            </div>
        
    }
</div>
@Html.PagedListPager(Model.productList, page => Url.Action("Index", new { page }))

