@using PagedList;
@using PagedList.Mvc;
@model Dicho_online.Models.HomeViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .wrapper {
    }

    .item {
        display: inline-block;
        border: 1px solid black;
    }

    .pagination > li a {
        color: blue;
    }

    #ddl-sort {
        padding-bottom: 20px;
    }
</style>

<!---->
@using (Html.BeginForm("Sort", "Home", FormMethod.Post))
{
    <form id="ddlPrice">
        @Html.DropDownList("ddlPrice", new SelectList(Model.priceSort), new { onchange = "this.form.submit();" })
    </form>
}
<br />

<div class="wrapper">

    @foreach (var item in Model.productList)
    {
        <div class="item">
            <img src="http://www.vegetables.co.nz/assets/Uploads/vegetables.jpg" width="200px" />
            <div class="detail">
                @Html.DisplayFor(modelItem => item.Supplier.CompanyName)<br />
                @Html.DisplayFor(modelItem => item.ProductName)<br />
                @Html.DisplayFor(modelItem => item.UnitPrice)
            </div>
        </div>
    }
</div>
@Html.PagedListPager(Model.productList, page => Url.Action("Index", new { page }))

